# -----------------------------------------------------------------------------
# Author: Simone Machetti
# -----------------------------------------------------------------------------

/projects/*/sim
/projects/*/imp
/projects/*/doc/slides.pdf
__pycache__
.direnv
.envrc
.obsidian/
*.lock.hjson
